@font-face {
  font-family: Amanojaku;
  src: url(../assets/font/Amanojaku\ Demo.otf);
}

@font-face {
  font-family: ChineseRock;
  src: url(../assets/font/chinese\ rocks\ rg.otf);
}

@font-face {
  font-family: Neon;
  src: url(../assets/font/Neon\ Bright.ttf);
}

@font-face {
  font-family: Earthquake;
  src: url(../assets/font/EARTHQUAKE.TTF);
}
