* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/img/chinese-great-wall-blurred.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
}

.nav-gauche {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-gauche a {
  text-decoration: none;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}